* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: #5ce1e6;
}

body {
  /* background-color: var(--color1); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: var(--color1);
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
}

p {
  font-size: 20px;
  color: white;
  background-color: rgb(42, 42, 42);
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}

.cardsout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #5ce1e6;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  .cardsout {
    width: 300px;
  }

  .card {
    width: 80px;
    height: 80px;
    background-color: #5ce1e6;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
  }

  p {
    margin: 10px 0;
    width: 200px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 25px;
  }

  .cardsout {
    width: 250px;
  }

  .card {
    width: 60px;
    height: 60px;
    background-color: #5ce1e6;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
  }
}